br/
br/
.container
    .col-md-4
        table class="table border-1"
            thead class="dark"
                th ID
                th User
                th Status
                th
            tbody
                - @users.each do |user|
                    tr
                        td = user.id
                        td = user.email
                        td.status = user.status
                        th = link_to 'Edit', '#', id: user.id, class: "edit", 'data-status': user.status


.modal-edit_status
    p#id
    input id='modal_status_user'
    button.btn.btn-danger id="modal_sbmt" Edit