.proxy_modal
  h3 New proxy
  = form_with(model: @proxy, local:false) do |f|
    .field
      = f.label :name
      = f.text_field :name
    .field.d-inline-flex
      .block
        = f.label :url, 'IP'
        = f.text_field :url, placeholder: '127.0.0.1' ,maxlength: 15, required: 'required'
      .block
        = f.label :port
        = f.text_field :port, placeholder: '8000', maxlength: 4, required: 'required'
    .field
      = f.label :login
      = f.text_field :login
    .field
      = f.label :password
      = f.text_field :password, id: "pass_proxy"
    .actions = f.submit
