h1 Proxy

button.btn.btn-success#new-proxy New proxy
br
br
table.table.col-7
    thead.bg-dark
        th Name
        th IP
        th Port
        th Login
        th Password
        th
    tbody   
    - @proxies.reverse.each do |proxy|
        tr
            td = proxy.name
            td = proxy.url
            td = proxy.port
            td = proxy.login
            td = proxy.password
            td = link_to 'x', proxy, class: "delete", role: "button", data: { confirm: 'Are you sure?' ,type: :script}, method: :delete

= render 'form'