= form_with(model: [@project, @task], local:true) do |f|
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :title
    = f.text_area :title, :class => "tinymce", :rows => 10, :cols => 120
  .field
    = f.label :status
    = f.number_field :status
  .actions = f.submit