h1 Listing tasks

table
  thead
    tr
      th Name
      th Title
      th Status
      th Project
      th
      th
      th

  tbody
    - @tasks.each do |task|
      tr
        td = task.name
        td = task.title
        td = task.status
        td = task.project
        td = link_to 'Show', task
        td = link_to 'Edit', edit_task_path(task)
        td = link_to 'Destroy', task, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Task', new_task_path
