
= csrf_meta_tags
p#notice = notice
h3  = @task.project.name
.task_header
  p
    strong Задача: 
    = @task.name  
  p
    |
    strong = status_to(@task.status).html_safe
    select#status name="status"
      option value="1" Важно
      option value="2" Средний
      option value="3" Можно отложить
      option value="4" Готово
      option value="5" Протестировано

.task_description
  p
    strong Описание: 
    = @task.title.html_safe

  h4 Добавить комментарий
.block_comment
//
//= form_with(model: [@task, task.project.update], local:true) do |f|
//  .field
//    = f.label :status
//    = f.number_field :status
//  .actions = f.submit

=< link_to 'Back', project_path(@project)
