.project
    .project__head
        = link_to 'Проекты', projects_path
    .project__body
        ul
            - @projects.each do |p|
                li 
                    |
                    = image_tag p.image.thumb('20x20#').url
                    
                    = p.name