h1 ProjectManagmentSystem

.container-fluid
    - if user_signed_in?
        .wrap
            = render 'projects'
            .tools
                .tools__header
                    p Инструменты
                .tools__body
                   p = link_to 'Ферма', fermas_path
                   p = link_to 'Прокси', proxies_path
    
        .helper.col-md-5
            h4 Инструкция по добавлению сателлита
            ol
                li 
                    | Добавь в список новый 
                    = link_to 'Прокси', proxies_path
                    ul
                        li Если к сателлиту Прокси не определен, тогда выбери из списка существующий прокси. 
                li 
                    | Добавь сателлит 
                    = link_to 'Ферма', fermas_path 
                    ul
                        li Послед добавления сателлита в Ферму, желательно указать второй прокси. Первый - основной прокси. Второй - на случай если основной прокси ляжет. Кол-во прокси у сателлита может быть не ограниченно. 
                        li 
                            |
                            strong Важно!
                            span  Система проверяет только первые 2 прокси. 

    -else
        p Для получения дополнительных функций надо войти в систему