= form_for @ferma do |f|
  - if @ferma.errors.any?
    #error_explanation
      h2 = "#{pluralize(@ferma.errors.count, "error")} prohibited this ferma from being saved:"
      ul
        - @ferma.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :url
    = f.text_field :url
  .field
    = f.label :hoster
    = f.text_field :hoster
  .field
    = f.label :date_create_hosting
    = f.text_field :date_create_hosting
  .field
    = f.label :description
    = f.text_area :description
  .field
    select name="proxy"
      - @proxies.each do |proxy|
        option value="#{proxy.id}" title="#{proxy.url}" = proxy.name
  .actions = f.submit
