h1 Ferma
button id="check" Check

table class="table"
  thead
    tr class="dark"
      th Name
      th Url
      th Status
      th class="" Check SSL
      th DNS
      th Date reg
      th
      th
      th
  - r = Redis.new
  tbody
    - @fermas.each do |ferma|
      tr
        th class="info strong" = ferma.name
        td class="url" = ferma.url
        td class="status" = r.get(ferma.url)
        td class="ssl" = check_ssl(ferma.url).html_safe
        td class="dns" = ferma.whoi.expires if ferma.whoi
        td class="date" = ferma.date_create_hosting
        td = link_to 'Show', ferma
        td = link_to 'Edit', edit_ferma_path(ferma)
        td = link_to 'x', ferma, class: "delete", role: "button", data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Ferma', new_ferma_path
