p#notice = notice

p
  strong Name: 
  = @ferma.name
p
  strong Url: 
  = @ferma.url
p
  strong Hoster: 
  = @ferma.hoster
p
  strong Date reg: 
  = @ferma.date_create_hosting
p
  strong Description: 
  = @ferma.description

 
strong Use Proxy: 
table.tbl-proxy_list_from_ferma
  - @ferma.proxies.each do |proxy|
    tr 
      td
        = proxy.url
      td
        button.btn.btn-danger.js-btn-destroy-proxy data-proxy_id="#{proxy.id}" data-ferma_id="#{@ferma.id}" x

=> link_to 'Edit', edit_ferma_path(@ferma)
'|
=< link_to 'Back', fermas_path
