= form_with(model: [@project, @project.tasks.build], local:false) do |f|
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :title
    = f.text_area :title, :class => "tinymce", :rows => 10, :cols => 120
  .field
    = f.label :status
    = f.select(:status,[['Важный', 1],['Средний', 2],['Можно отложить', 3],['Готово', 4],['Протестировано', 5]])
  .actions = f.submit :id => "form_add_task"
