p id="notice" = notice

h1 Projects

table class="table"
  thead
    tr
      th Ваши проекты
      th colspan="4"
  tbody
    - @projects.each do |project|
      tr
        td = image_tag project.image.thumb('50x50#').url
        td = project.name
        td = link_to 'Открыть', project, class: "btn btn-info"
        td = link_to 'Удалить', project, method: :delete, data: { confirm: 'Are you sure?' }
br

= link_to 'New Project', new_project_path
