= tinymce
p id="notice" = notice

.header_project
  .hp__name
    p
      strong = @project.name
      br
      = image_tag @project.image.thumb('50x50#').url
  .hp_action
    button class="btn btn-info" id="add_task" Создать задачу

.tasks
  .work_tasks
    strong #TODO
    - @project.tasks.each do |task|
      - if task.status <= 3
        .block_task
          .block_task__header
            b = link_to task.name, [task.project, task]
          .block_task__body
            p = task.title.html_safe
  .test_tasks
    strong Need check
    - @project.tasks.each do |task|
      - if task.status == 4
        .block_task
          .block_task__header
            b = link_to task.name, [task.project, task]
          .block_task__body
            p = task.title.html_safe
  .ready_tasks
    strong Ready
    - @project.tasks.each do |task|
      - if task.status == 5
        .block_task
          .block_task__header
            b = link_to task.name, [task.project, task]
          .block_task__body
            p = task.title.html_safe



.form_task
  .ft_close
    span x
  = render 'form-task', project: @project

= link_to 'Edit', edit_project_path(@project), class: "btn btn-success"
= link_to ' Back', projects_path, class: "btn btn-success"
