@import 'var'

.modal-edit_status
    position: absolute
    padding: 5px
    border-radius: 5px
    background-color: $grey
    display: none 
    width: 248px
    top: 0px
    right: 0px
    #id
        display: none

    #modal_sbmt
        padding: 3px 10px
        margin-left: 10px