// Place all the styles related to the Fermas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'var'

a.delete
    color: red !important
thead
    color: $body
#check
    margin-bottom: 20px
    padding: 5px 20px
    border-radius: 30px
    border: 0
    background-color: #f2f2f2
    box-shadow: 0 0 3px
    &:hover
        box-shadow: 0 0 4px
    &:active
        box-shadow: 0 0 3px inset
button.btn
    line-height: 1
    margin-left: 10px
table.tbl-proxy_list_from_ferma
    box-shadow: 0 0 10px black
    margin: 10px 40px
    td
        padding: 10px
        border-bottom: 1px solid grey
td.success
    background-color: green
    color: whitesmoke