// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'var'
  
h1 
  font-color: grey
  margin-bottom: 50px

.project
  border: 1px solid #dce3ff  
  width: 250px
  box-shadow: 0 0 3px 0px
  overflow: hidden
  &__head
    background-color: $header
    a
      color: $header-text !important
      display: block
      text-align: center
      
  &__body
    padding: 10px 10px 10px 0
    background-color: $body   
    height: 100% 
    img
      margin-right: 5px
header
  background-color: #3d3f54
  color: #fff !important
  padding: 5px 10px
  border-bottom: 4px solid #4156f2

  .navbar-text
    margin: 0 !important
  a
    color: #efefef !important
    padding: 8px
.wrap
  display: flex
  .tools
    margin: 0 10px
    box-shadow: 0 0 3px
    width: 200px
    &__header
      background-color: #25244a
      text-align: center
      color: #fff
      font-weight: 600
    &__body
      padding: 0px 10px
      text-align: center
.helper
  margin-top: 20px
  background-color: $body
  padding: 10px