// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'var'

.block_task
    border: 1px solid #dce3ff
    width: 250px
    box-shadow: 0 0 3px 0px
    margin: 5px

    &:hover
        border-color: #031b7b

    &__header
        border-bottom: 1px solid grey
        background-color: #f0efef
        padding: 5px
        a
            display: block

    &__body
        height: 70px    
        overflow: hidden
        background-color: #fff
        padding: 5px
.header_project
    display: flex
    justify-content: space-between
.form_task
    display: none
    position: fixed
    top: 10px
    z-index: 9999999999
    //border: 2px solid #bababa
    box-shadow: 0px 0px 10px #bababa
    background-color: #4f4a6e
    width: 70%
    padding: 10px
    label
        color: white
    .ft_close
        width: 40px
        height: 40px
        position: absolute
        border: 1px solid #595757
        border-radius: 50%
        background-color: #ececff
        right: 10px
        line-height: 1.1
        padding: 0 12px
        font-size: 30px
        color: #9e9e9e
        text-shadow: black 0px 0px 1px
        &:hover
            border-color: darkgrey
            cursor: pointer
.tasks
    display: flex
    width: 782px
    background-color: $body
    box-shadow: 0 0 5px
    margin: 5px

    strong
        width: 260px
        display: block
        text-align: center
        background-color: $header
        color: $header-text

    .test_tasks
        border-left: 1px solid #494856
        border-right: 1px solid #494856







