// Place all the styles related to the proxys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'var'
    
.proxy_modal
    display: none
    box-shadow: 0 0 10px grey
    width: max-content
    padding: 10px
    position: absolute
    top: 100px
    left: 50%
    margin-left: -150px
    z-index: 220
    background-color: $modal
    color: #fff
    label[for="name"]
        display: inline
        margin-right: 10px
    input[id="url"]
        width: 150px
    .block:first-child
        margin-right: 23px
        input
            text-align: center
    .block:last-child
        input
            width: 55px
            text-align: center
    input[name="login"], input[name="password"]
        width: 100%
    .actions
        text-align: center