// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.task_header
    justify-content: space-between
    box-shadow: 0 1px 2px
    display: flex
    background-color: #eef
    margin-bottom: 20px

    #status
        margin-left: 10px

    .status-test
        color: green
    .status-importanty
        color: red
    .status-medium
        color: #707a13
    .status-defer 
        color: silver
    .status-ready
        color: blue

.task_description

