<!DOCTYPE html>
<html>
  <head>
    <title>Pms</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
      <% end %>
     <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
     <% end %>
    
   <header class="d-flex justify-content-between"> 
     <a href='/'> Super PMS </a>
      <p class="navbar-text">
        <% if user_signed_in? %>
          <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
      </p>
  </header>
    <%= yield %>
  </body>
</html>
